workflows/automate/Relatorio_Consolidado_Por_Botao_SEGA.json
{
  "active": true,
  "connections": {
    "Recebe PDFs": {
      "main": [
        [
          {
            "node": "Criar array PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar array PDF": {
      "main": [
        [
          {
            "node": "Baixar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar PDF": {
      "main": [
        [
          {
            "node": "Juntar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar PDF": {
      "main": [
        [
          {
            "node": "Comprimir PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprimir PDF": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T16:31:30.672Z",
  "id": "WUA5U83lCEsKOfzB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Relatorio_Consolidado_Por_Botao_SEGA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d27fca5-69a0-4289-ba2d-8acc8310ff71",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        -112
      ],
      "id": "6d23fd03-5b53-438f-84a8-f1320b0f82f0",
      "name": "Recebe PDFs",
      "webhookId": "4d27fca5-69a0-4289-ba2d-8acc8310ff71"
    },
    {
      "parameters": {
        "jsCode": "const arquivos = items[0].json.body[0];\n\nreturn arquivos.map(nome => ({\n  json: { file: nome }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -112
      ],
      "id": "5296726d-20d2-4f59-b001-f377f400a667",
      "name": "Criar array PDF"
    },
    {
      "parameters": {
        "url": "=https://daniel.cws.cslr-wga.net.br/relatorios/download/{{ $json.file }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -112
      ],
      "id": "d84f894a-c414-4f2d-a090-1aaf230bd4fa",
      "name": "Baixar PDF"
    },
    {
      "parameters": {
        "jsCode": "// Cria um único item com múltiplos binários\nconst combinedBinary = {};\nitems.forEach((item, index) => {\n  const binaryKey = item.binary && Object.keys(item.binary)[0];\n  if (binaryKey) {\n    combinedBinary[`file${index + 1}.pdf`] = item.binary[binaryKey];\n  }\n});\n\nreturn [{\n  binary: combinedBinary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -112
      ],
      "id": "1cf557c1-3cc2-425f-9316-56cf628a0628",
      "name": "Juntar PDF"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ Object.keys($binary).join(',') }}",
        "fileName": "relatorios.zip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1008,
        -112
      ],
      "id": "163ed53c-3c70-414e-872e-75572ef07153",
      "name": "Comprimir PDF"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@weega.com.br",
        "toEmail": "limadanielpereira@gmail.com",
        "subject": "Relatórios",
        "html": "Segue em anexo os relatórios de faturamento consolidados",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1264,
        32
      ],
      "id": "43440a66-8f0c-4689-91ff-71e80933e4c7",
      "name": "Send email",
      "webhookId": "10a854e7-760a-4697-ba58-d43bfbcf4f01",
      "credentials": {
        "smtp": {
          "id": "iVadhBTmXa28Twhz",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {
    "Recebe PDFs": [
      {
        "json": {
          "headers": {
            "host": "n8n.cslr-wga.net.br:5678",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "1174"
          },
          "params": {},
          "query": {},
          "body": [
            [
              "CS-BALAROTI-20250101-20250131-06.pdf",
              "CS-CHECK-UP-20250101-20250131-06.pdf",
              "CS-CIONC-20250101-20250131-06.pdf",
              "CS-CONATEC-20250101-20250131-06.pdf",
              "CS-CONSEILLER-20250101-20250131-06.pdf",
              "CS-DOCTORALIA-20250101-20250131-06.pdf",
              "CS-FATIMA-20250101-20250131-06.pdf",
              "CS-FEP-20250101-20250131-06.pdf",
              "CS-H.NACOES-20250101-20250131-06.pdf",
              "CS-I.POLICLIN-20250101-20250131-06.pdf",
              "CS-ICTR-20250101-20250131-06.pdf",
              "CS-INBRAELL-20250101-20250131-06.pdf",
              "CS-IOC-20250101-20250131-06.pdf",
              "CS-ISSC---HCC-20250101-20250131-06.pdf",
              "CS-ISSC---ITJ-20250101-20250131-06.pdf",
              "CS-LUMICENTER-20250101-20250131-06.pdf",
              "CS-MAGIUS-20250101-20250131-06.pdf",
              "CS-MATERNIDAD-20250101-20250131-06.pdf",
              "CS-POLI-SAUDE-20250101-20250131-06.pdf",
              "CS-PRIME-20250101-20250131-06.pdf",
              "CS-PROVINCIA-20250101-20250131-06.pdf",
              "CS-QUANTA-DIA-20250101-20250131-06.pdf",
              "CS-REDE-ONE-C-20250101-20250131-06.pdf",
              "CS-ROHDEN-20250101-20250131-06.pdf",
              "CS-SCMPG-20250101-20250131-06.pdf",
              "CS-TERRA-RICA-20250101-20250131-06.pdf",
              "CS-UNIMED-CUR-20250101-20250131-06.pdf",
              "CS-UNIMED-PAL-20250101-20250131-06.pdf",
              "CS-UNIMED-PON-20250101-20250131-06.pdf",
              "CS-WEEGA-TECH-20250101-20250131-06.pdf"
            ]
          ],
          "webhookUrl": "http://n8n.cslr-wga.net.br:5678/webhook-test/4d27fca5-69a0-4289-ba2d-8acc8310ff71",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "juZ6bR6U7ks8zGJg"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-24T14:10:01.331Z",
      "updatedAt": "2025-07-24T14:10:01.331Z",
      "id": "XVyDcQFu3t4hlI1r",
      "name": "automate"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-24T14:44:43.000Z",
  "versionId": "8e8a5fba-6a02-49fd-b53d-6f8e64a57aaf"
}